/* src/App.css */

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 기본 마진 제거 */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p, h1, h3 {
  margin: 0;
  padding: 0;
  color: #333; /* 글자색을 진하게 고정 */
}